.container {
  max-width: 1120px;
  height: 85vh;
  margin: 0 auto;
  padding: 0 32px;
}

.posts {
  max-width: 720px;
  margin: 80px auto 0;

  a {
    display: block;

    & + a {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 0.0625rem solid var(--gray-700);
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--gray-300);
    }

    strong {
      display: block;
      font-size: 1.5rem;
      margin-top: 1rem;
      line-height: 2rem;
    }

    p {
      color: var(--gray-300);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: var(--yellow-500);
    }
  }
}
.previewContent {
  background: linear-gradient(black, var(--gray-100));
  -webkit-background-clip: text;
  background-clip: text;
  height: 400px;
  -webkit-text-fill-color: transparent;
}

.continueReading {
  padding: 1rem 4rem;
  max-width: 30rem;
  text-align: center;
  background: var(--orange-100);
  border-radius: 6.25rem;
  border: none;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 4rem auto;

  p {
    color: var(--white-100);
    margin-left: 0.5rem;
  }
  &:hover {
    text-decoration: underline;
  }
}
